---
const pageTitle = "About Me";

const identity = {
  firtName: "Sarah",
  country: "Benin",
  occupation: "Developer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<body>
  <!-- menu -->
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

  <!-- heading -->
  <h1>{pageTitle}</h1>
  <h2>... and mynew Astro site!</h2>

  <!-- body -->
  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>

  <ul>
    <li>My name is {identity.firtName}.</li>
    <li>I live in {identity.country} and I work as {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          My two hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}.
        </li>
      )
    }
  </ul>

  <p>
    My skills are:
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
  </p>

  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</body>
